<nav class="navigation">
	{{ if not .IsHome }}
		<a href="{{ "/" | relURL }}">{{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
	{{ end }}
	<a href="{{ "/posts" | relURL }}">{{ with .Site.Params.archive }}{{ . }}{{ else }}Archive{{ end }}</a>
	<a href="{{ "/tags" | relURL }}">{{ with .Site.Params.tags }}{{ . }}{{ else }}Tags{{ end }}</a>

	{{ range $element := .Site.Params.Links }}
		<a href="{{ $element.path }}">{{ $element.name }}</a>
	{{ end }}

	{{ $rss := .OutputFormats.Get "RSS" }}
	{{- if not $rss.Permalink -}}
		{{- $rss = .Site.Home.OutputFormats.Get "RSS" -}}
	{{- end -}}
	{{ with $rss }}
		<a class="button" href="{{ .Permalink }}">
			{{ with $.Site.Params.subscribe }}{{ . }}{{ else }}Subscribe{{ end }}
		</a>
	{{ end }}
</nav>
