{{- $url := "" }}
{{- if .IsNamedParams -}}
    {{- $url = .Get "src" -}}
{{- else -}}
    {{- $url = .Get 0 -}}
{{- end -}}
{{- $u := urls.Parse $url -}}
{{- if not $u.IsAbs -}}
    {{- if strings.HasPrefix $url "/" -}}
        {{- $url = (print .Page.Site.BaseURL (strings.TrimPrefix "/" $url)) -}}
    {{- else -}}
        {{- $url = (print .Page.Permalink $url) -}}
    {{- end -}}
{{- end -}}
<figure>
    <video controls src="{{ $url | safeURL }}"></video>
    <figcaption>
        {{ .Inner | .Page.RenderString (dict "display" "block") }}
    </figcaption>
</figure>
